<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}"
        th:with="title=${'Editar Paciente'}">
<body>
<div layout:fragment="content">
  <!-- Template para la edición de un paciente -->
  <form th:replace="fragments/forms :: paciente(paciente=${paciente}, action=@{/pacientes/guardar}, create=false)">
  </form>

  <hr>

  <h2 class="h2">Signos Vitales</h2>
  <table id="signos-vitales-registros" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Presión Cardiáca</th>
        <th>Frecuencia Cardiáca</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="signosVitalesRegistro : ${paciente.signosVitalesRegistros}">
      <td th:text="${signosVitalesRegistro.fechaRegistro}"></td>
      <td th:text="${signosVitalesRegistro.presion}"></td>
      <td th:text="${signosVitalesRegistro.frecuencia}"></td>
      <td>
        <div class="btn-group">
          <a th:href="@{/pacientes/{codigo}/signosVitalesRegistros/{id}/editar(codigo=${paciente.codigo},id=${signosVitalesRegistro.id})}"
             class="btn text-warning" title="Editar">
            <i class="fas fa-edit fa-fw"></i>
          </a>
          <a th:href="@{/pacientes/{codigo}/signosVitalesRegistros/{id}/eliminar(codigo=${paciente.codigo},id=${signosVitalesRegistro.id})}"
             class="btn text-danger" title="Eliminar">
            <i class="fas fa-times fa-fw"></i>
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <hr>
  <div th:replace="signosVitales/new ::  nuevo-signo-vital"></div>

</div>
</body>

<script layout:fragment="scripts">
  $(document).ready(function () {
    $('#vitalSignsRecordsList').DataTable({
      'columns': [
        null,
        null,
        null,
        {'searchable': false, 'orderable': false},
      ]
    });
  });
</script>

</html>